* {
  box-sizing: border-box;
}

#bg-image {
  background-image: url("../../../assets/images/contact_us_bg.jpg");
  z-index: 0;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: #f2f2f2;
}

.wrap-contact100 {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

/*==================================================================
[ Contact more ]*/

.contact100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.contact100-form {
  background: #e9e4e4 !important;
  width: 560px;
  min-height: 100vh;
  display: block;
  padding: 110px 55px 55px 55px;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .contact100-form {
    width: 50%;
    padding: 110px 30px 55px 30px;
  }

  .contact100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 110px 15px 55px 15px;
  }
}

.form-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.form-container > *,
.form-container > * > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

.submit-login-register {
  margin-top: 10px;
}

.spacer {
  margin-top: 3px;
  margin-bottom: 3px;
}
