* {
  margin: 0;
  padding: 0;
}
body {
  background: #233142;
}
.whistle {
  width: 20%;
  fill: #f95959;
  margin: 60px 40%;
  text-align: left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 80% 30%;
  transform-origin: 80% 30%;
  -webkit-animation: wiggle 0.2s infinite;
  animation: wiggle 0.2s infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
h1 {
  margin-top: -100px;
  margin-bottom: 20px;
  color: #facf5a;
  text-align: center;
  font-family: "Raleway";
  font-size: 90px;
  font-weight: 800;
}
h2 {
  color: #455d7a;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  text-transform: uppercase;
}
.homeButton {
  width: 10%;
  margin-left: 45%;
  margin-top: 5px;
}
