<div *ngIf="isLocked" class="password">
  <mat-card>
    <mat-card-title>
      <mat-icon>lock</mat-icon> Lista protegida con contraseña
    </mat-card-title>
    <mat-card-content>
      <form class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input type="password" [formControl]="passwordAuth" matInput>
          <mat-hint>Introduce la contraseña</mat-hint>
          <div class="spacer"></div>
        </mat-form-field>
        <button class="submit-login-register hvr-pop" (click)="onPasswordSubmit()" type="submit"
          matTooltip="Guardar cambios" matTooltipPosition="below" mat-raised-button color="primary">Introducir
          contraseña <mat-icon>lock_open
          </mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!isLocked">
  <div class="login-register-bg" style="vertical-align:top;">
    <div class="login-register-container">
      <div class="list-title">
        <mat-card>
          <mat-card-content>
            <mat-card-title>
              <!-- Title -->
              <mat-form-field>
                <input matInput class="list-tittle-input" placeholder="Tu título aquí..." [formControl]="titulo" />
                <mat-error *ngIf="titulo.invalid">{{getTituloErrorMessage()}}</mat-error>
              </mat-form-field>
            </mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card>
        <mat-card-content>
          <mat-icon>subtitles</mat-icon>
          <!-- Subtitle -->
          <mat-form-field>
            <input matInput [formControl]="descripcion" class="list-subtitle-input"
              placeholder="Tu subtítulo aquí..." />
            <mat-error *ngIf="descripcion.invalid">{{getDescripcionErrorMessage()}}</mat-error>
          </mat-form-field>
          <div class="form-container">
            <mat-label>Tus items:</mat-label>
            <div class="spacer border-b"></div>

            <!-- Your elements -->
            <div class="elements-list" [ngStyle]="{'height.px': windowHeight}" *ngIf="list" cdkDropList
              (cdkDropListDropped)="onDrop($event)">
              <div *ngFor="let element of list.items" cdkDrag>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

                <!-- Element master -->
                <ng-container *ngIf="element.master">
                  <div class="element-drag">
                    <!-- Icon -->
                    <mat-icon class="icon-slave" matTooltip="Haz un subelemento a '{{element.text}}'"
                      (click)="onMakeSlave(element.order)" matTooltipPosition="left">double_arrow</mat-icon>
                    <!-- Form field -->
                    <mat-form-field appearance="outline">
                      <input type="text" name="element.text" [(ngModel)]="element.text"
                        [ngModelOptions]="{standalone: true}" matInput placeholder="Tu elemento aquí"
                        autocomplete="off">
                      <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Delete element'"
                        (click)="onDeleteElementMaster(element.order)" matTooltip="Elimina a: '{{element.text}}'"
                        matTooltipPosition="left">
                        <mat-icon class="c-red">delete</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <ng-container *ngIf="element.subTasks.length > 0 ">
                    <!-- idChild es cada ID de los subitems de ese elemento -->

                    <div *ngFor="let child of element.subTasks; let i = index">
                      <!-- child element -->
                      <div class="child-list">
                        <!-- Slave icon -->
                        <mat-icon class="icon-slave rotate-y" (click)="onMakeMaster(element.order, child.name)"
                          matTooltip="Haz un elemento principal a '{{child.name}}'" matTooltipPosition="left">
                          keyboard_return</mat-icon>
                        <!-- Subtask -->
                        <mat-form-field appearance="outline">
                          <input type="text" name="child.name" [(ngModel)]="child.name"
                            [ngModelOptions]="{standalone: true}" matInput placeholder="Tu elemento aquí"
                            autocomplete="off">
                          <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Delete element'"
                            (click)="onDeleteSlave(element.order, child.name)">
                            <mat-icon class="c-red">delete</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="spacer border-t"></div>
            <div class="spacer"></div>

            <form>
              <!-- Add new -->
              <mat-icon>fiber_new</mat-icon>
              <mat-label>Crea un nuevo elemento</mat-label>
              <mat-form-field appearance="outline">
                <mat-label>Nuevo elemento</mat-label>
                <input type="text" matInput #newElement #newElementInput name="newElementInput"
                  placeholder="Tu elemento aquí" autocomplete="off">
                <mat-hint>Introduce un nuevo elemento a tu lista</mat-hint>
                <button type="button" mat-icon-button matSuffix [attr.aria-label]="'Add element'"
                  (click)="onAddElement(newElement)" (keydown.Tab)="onAddElement(newElement)">
                  <mat-icon class="bg-green" matTooltip="Añade a la lista: '{{newElement.value}}'"
                    matTooltipPosition="above">library_add
                  </mat-icon>
                </button>
              </mat-form-field>
            </form>
            <div class="spacer"></div>
          </div>
        </mat-card-content>

        <mat-label>¡Añade una contraseña para que sólo tú y tus amigos la podáis editar!</mat-label>
        <div class="spacer"></div>
        <!-- Slider has password -->
        <mat-slide-toggle class="example-margin" color="accent" [(ngModel)]="hasPassword"
          [ngModelOptions]="{standalone: true}">Contraseña</mat-slide-toggle>

        <!-- Password field -->
        <mat-form-field appearance="outline" *ngIf="hasPassword">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput [formControl]="password" placeholder="Introduce tu contraseña"
            [type]="isHidden ? 'password' : 'text'" autocomplete="current-password">
          <button mat-icon-button matSuffix (click)="isHidden = !isHidden" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isHidden">
            <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Introduce tu contraseña</mat-hint>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <div *ngIf="!isEditing">
          <div class="spacer"></div>
          <mat-label>Verificación humana</mat-label>
          <re-captcha name="captcha" (resolved)="onAssignCaptcha($event)"
            siteKey="6Ld6lNkUAAAAAK9t3WfGx3qHOETXLGze-4dWLAib"></re-captcha>
          <mat-error *ngIf="captcha.invalid && submittedOnce">{{getCaptchaErrorMessage()}}</mat-error>
          <mat-hint>Selecciona la casilla</mat-hint>
        </div>

        <!-- Submit button -->
        <button (click)="onSubmit()" class="submit-login-register hvr-pop" type="submit" matTooltip="Crea tu lista"
          matTooltipPosition="below" mat-raised-button
          color="primary">{{isEditing ? "Edita tu lista" : "Crea tu lista"}}</button>
      </mat-card>
    </div>
  </div>
</div>
