#qrDialog {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-info {
  padding: 0 !important;
  border-color: #17a2b9;
  background-color: #17a2b9 !important;
  color: #fafafa;
  margin: 0 10px 0 10px;
}
.btn-info:hover {
  border-color: #0f798a;
  background-color: #0f798a;
}
