.graficas {
  margin-top: 5%;
  display: -webkit-inline-box;
  display: inline-flex;
  width: 100%;
}
a:link {
  text-decoration: none;
}
.graficasDatos {
  align-content: center;
  text-align: center;
  background-color: #ebebeb;
  width: 30%;

  margin-left: 2.3%;
}

@media (max-width: 1020px) {
  .graficas {
    display: inline-grid;
  }
  .graficasDatos {
    height: 130%;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
  }
}

.mat-raised-button {
  margin-top: 5px;
  margin-left: 2px;
  box-shadow: none !important;
  color: #cccccc;
}
.mat-raised-button:hover {
  color: black;
  -webkit-transition: 3;
  transition: 3;
}
