.graficas {
  margin-top: 5%;
  display: -webkit-inline-box;
  display: inline-flex;
  width: 100%;
}
a:link {
  text-decoration: none;
}
.graficasDatos {
  align-content: center;
  text-align: center;
  background-color: #ebebeb;
  width: 30%;
  height: 60%;
  margin-left: 2.3%;
}

@media (min-width: 420px) and (max-width: 1020px) {
  .graficas {
    display: inline-grid;
  }
  .graficasDatos {
    height: 130%;
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}

.mat-raised-button {
  box-shadow: none !important;
  color: #cccccc;
}
