<div class="graficas">
  <a href="/admin/adminUsers" class="graficasDatos">
    <div>
      <p>Usuarios registrados</p>
      <hr />
      <div class="graficasListas" *ngIf="!doughnutChartRegisterUsers">
        <mat-card class="cardNumbers">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card>
      </div>
      <!-- Grafico -->
      <div *ngIf="doughnutChartRegisterUsers">
        <div>
          <div style="display: block">
            <canvas baseChart [data]="doughnutChartRegisterUsers" [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
      </div>
      <!-- Grafico -->
      <hr />
    </div>
  </a>
  <a href="/admin/adminUsers" class="graficasDatos">
    <div>Usuarios premium
      <hr />
      <div class="graficasListas" *ngIf="!doughnutChartPremiumUsers">
        <mat-card class="cardNumbers">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card>
      </div>
      <!-- Grafico -->
      <div *ngIf="doughnutChartPremiumUsers">
        <div>
          <div style="display: block">
            <canvas baseChart [data]="doughnutChartPremiumUsers" [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
      </div>
      <!-- Grafico -->
      <hr />
    </div>
  </a>

  <a href="/admin/adminLists" class="graficasDatos">
    <div>Listas creadas
      <hr />
      <div class="graficasListas" *ngIf="!doughnutChartCreatedLists">
        <mat-card class="cardNumbers">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card>
      </div>
      <!-- Grafico -->
      <div *ngIf="!doughnutChartCreatedLists">
        <div>
          <div style="display: block">
            <canvas baseChart [data]="doughnutChartCreatedLists" [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
      </div>
      <!-- Grafico -->
      <hr />
    </div>
  </a>
</div>
