.graficas {
  margin-top: 5%;
  display: inline-flex;
  width: 100%;
}
.graficasDatos {
  align-content: center;
  text-align: center;
  background-color: #ebebeb;
  width: 30%;
  height: 60%;
  margin-left: 2.3%;
}
