.delete {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.delete:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.cancel {
  border-color: #ffc107;
  background-color: #ffc107;
  color: #fff;
}
.cancel:hover {
  border-color: #e0a800;
  background-color: #e0a800;
}
