<div class="zonaPrincipal">
  <div class="textoPrincipal">
    <h1>I'm In List</h1>
    <p>La solución a tu organización</p>
    <div class="zonaBoton">
      <button class="newListButton hvr-hang" mat-raised-button routerLink="/list" matTooltip="Crea tu primera lista"
        matTooltipPosition="above" color="accent">
        <mat-icon class="hidden">list</mat-icon> ¡Crear lista!
      </button>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="../../../assets/images/cloud.png">
      <p> Nuestros servidores permanecerán activos las <b>24 horas</b> del día, los <b>7 días </b>de la semana, para
        que pueda acceder desde cualquier sitio a cualquier hora.</p>
    </div>
    <div class=" column">
      <img src="../../../assets/images/easy.png">
      <p> Gracias a nuestra aplicación, podrá administrar y organizar de una forma completamente sencilla, accessible
        para todos los usuarios.</p>
    </div>
    <div class="column">
      <img src="../../../assets/images/admin.png">
      <p>Cuenta con un equipo de administradores los cuales estarán encantados de ayudarte en todas aquellas incidencias
        que necesite.</p>
    </div>
  </div>
</div>
