.zonaPrincipal {
  /* Tamaño completo */
  height: 93%;

  /* Imagen utilizada */
  background: url("../../../assets/images/background.jpg");

  /* Centramos la imagen, y hacemos que no se repita */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.textoPrincipal {
  /* Background que usaremos para destacar el texto */
  background-color: #00000080;

  color: #ffffff;
  border: 3px solid #f1f1f1;
  /* Centramos el texto */
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 300%;
  }

  p {
    font-style: italic;
    font-size: 120%;
  }
}

a {
  text-decoration: none;
}

.zonaBoton {
  width: 100%;
  margin-top: 20%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.newListButton {
  max-width: 50%;
  font-size: 18px;
}

//For smallest screens move button to the bottom
@media (max-width: 450px) {
  .zonaBoton {
    margin-top: 70%;
  }
}
@media (min-width: 451px) and (max-width: 860px) {
  .zonaBoton {
    margin-top: 40%;
  }
}

@media (min-width: 860px) and (max-width: 1220px) {
  .zonaBoton {
    margin-top: 20%;
  }
}

@media (min-width: 1220) and (max-width: 1920px) {
  .zonaBoton {
    margin-top: 10%;
  }
}
