@import "~@angular/material/theming";
@include mat-core();

// default theme
$my-theme-primary: mat-palette($mat-deep-purple);
$my-theme-accent: mat-palette($mat-amber, A200, A100, A400);
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);

// included in the default style
@include angular-material-theme($my-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent: mat-palette($mat-green, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$dark-bgColor: #1a1717;
$dark-fontColor: #fefefe;
.iminlist-dark-theme {
  @include angular-material-theme($dark-theme);
  background-color: $dark-bgColor !important;
  background: $dark-bgColor !important;
  color: $dark-fontColor !important;
}

// Red theme
$red-primary: mat-palette($mat-red);
$red-accent: mat-palette($mat-light-blue);
$red-theme: mat-dark-theme($red-primary, $red-accent);

.iminlist-red-theme {
  @include angular-material-theme($red-theme);
}
