.card {
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  min-width: 35%;
}

.headerImage {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png");
  background-size: cover;
}
.actionsButton {
  width: 100%;
  margin-top: 10px;
}
.gaugeAlign {
  width: 60%;
  margin-left: 30%;
}
.contentGauge {
  width: 100%;
}
.cardNumbers {
  width: 80%;
  margin-left: 10%;
  background-color: #e7e7e7;
}
mat-card-title {
  text-align: center;
}
.cardNumbers:hover {
  background-color: #b1b1b1;
  box-shadow: 1px 1px 5px;
  margin-left: 5%;
  width: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.graficas {
  display: -webkit-inline-box;
  display: inline-flex;
  width: 100%;
}
a:link {
  text-decoration: none;
}

.loader {
  align-content: center;
  text-align: center;
  width: 30%;
  margin-left: 2.3%;
}

/** Estilo para el texto principal */

h1 {
  font-size: 3em;
  font-weight: normal;
}

/* title styles */
.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.home-title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}
.home-title span:nth-of-type(3)::before,
.home-title span:nth-of-type(3)::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

// parpadeante
.text {
  font-size: 28px;
  font-family: helvetica;
  font-weight: bold;
  color: #71d90b;
  text-transform: uppercase;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
