<h1 class="demo-title">Precios adaptados a sus necesidades</h1>

<div class="pricing-table">
  <div class="pricing-option">
    <i class="material-icons">money_off</i>
    <h1>Gratuito</h1>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus
      inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.
    </p>
    <hr />
    <div class="price">
      <div class="front">
        <span class="price">199 <b>$</b></span>
      </div>
      <div class="back">
        <a href="#" class="button">Purchase now</a>
      </div>
    </div>
  </div>

  <div class="pricing-option">
    <i class="material-icons">attach_money</i>
    <h1>Registrado</h1>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus
      inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.
    </p>
    <hr />
    <div class="price">
      <div class="front">
        <span class="price">30 <b>€</b></span>
      </div>
      <div class="back">
        <a href="#" class="button">Obtener</a>
      </div>
    </div>
  </div>

  <div class="pricing-option">
    <i class="material-icons">star_border</i>
    <h1>Premium</h1>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus
      inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.
    </p>
    <hr />
    <div class="price">
      <div class="front">
        <span class="price">999 <b>$</b></span>
      </div>
      <div class="back">
        <a href="#" class="button">Purchase now</a>
      </div>
    </div>
  </div>
</div>
