<h1 class="demo-title">Precios adaptados a sus necesidades</h1>

<div class="pricing-table">
  <div class="pricing-option">
    <mat-icon>money_off</mat-icon>
    <h1>Gratuito</h1>
    <hr />
    <p>Posibilidad de crear listas</p>
    <p>Posibilidad de compartir con enlace aleatorio</p>
    <hr />
    <div class="price">
      <div class="front">
        <span class="price">0 <b>€</b></span>
      </div>
      <div class="back">
        <button mat-raised-button routerLink="/newList" matTooltip="Crea tu primera lista" matTooltipPosition="above"
          color="primary" class="actionsButton">Empieza</button>
      </div>
    </div>
  </div>

  <div class="pricing-option">
    <mat-icon>attach_money</mat-icon>
    <h1>Registrado</h1>
    <hr />
    <p>Posibilidad de crear listas</p>
    <p>Posibilidad de compartir con enlace aleatorio</p>
    <p>Posibilidad de añadir contraseña a la lista</p>
    <p>Posibilidad de añadir usted mismo los participantes de la lista</p>
    <p>Posibilidad de añadir fotografías u otros documentos</p>
    <hr />
    <div class="price">
      <div class="front">
        <span class="price">0 <b>€</b></span>
      </div>
      <div class="back">
        <button mat-raised-button routerLink="/register" matTooltip="Regístrate" matTooltipPosition="above"
          color="primary" class="actionsButton">Registrarse</button>
      </div>
    </div>
  </div>

  <div class="pricing-option">
    <mat-icon>star_border</mat-icon>
    <h1>Premium</h1>
    <hr />
    <p>Posibilidad de crear listas</p>
    <p>Posibilidad de compartir con enlace <b>personalizado</b></p>
    <p>Posibilidad de compartir con código <b>QR</b></p>
    <p>Posibilidad de añadir contraseña a la lista</p>
    <p>Posibilidad de añadir usted mismo los participantes de la lista</p>
    <p>Posibilidad de añadir fotografías u otros documentos</p>
    <p>Sin publicidad en la página</p>
    <p><b>Chat</b> entre todos los participantes de la lista</p>
    <hr />
    <div class="price">
      <div class="front">
        <span class="price">1,99 <b>€</b></span>
      </div>
      <div class="back">
        <button #paypalBtn mat-raised-button matTooltip="Obten todas las ventajas de I'm in list"
          matTooltipPosition="above" color="primary" id="paypal-checkout-btn" class="actionsButton">Hazte
          premium</button>
      </div>
    </div>
  </div>
</div>
