<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="headerImage"></div>
    <mat-card-title>I'm in list</mat-card-title>
    <mat-card-subtitle>La solución a tu organización</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <hr />
    <p>
      I’m in list es la solución inteligente a tu organización. Esta sencilla herramienta fue diseñada por un equipo de
      desarrolladores de software web los cuales tuvieron la idea y necesidad de cubrir una carencia en la mayoría de
      situaciones de nuestro día a día.<br><br>

      Como organización hemos querido diseñar con la mayor ilusión una herramienta amigable y sencilla de utilizar la
      cual va a permitir que puedas crear listas para tu día a día o para unirse a eventos de forma que toda la
      información quede centralizada y organizada.<br><br>

      Desde I’m in list estamos continuamente mejorando nuestro software, pero siempre estamos abiertos a escuchar tus
      sugerencias y así mejorar esta herramienta con las necesidades de los usuarios que hacen uso de ella.
    </p>
    <hr />
  </mat-card-content>
  <div class="actions">
    <button mat-raised-button routerLink="/contact" color="primary" class="actionsButton">Contacta con nosotros</button>
    <button mat-raised-button color="accent" class="actionsButton">¡Ayudanos!</button>
  </div>
</mat-card>
