<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="headerImage"></div>
    <mat-card-title>{{nickname}}</mat-card-title>
    <mat-card-subtitle>{{email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <hr />
    <div class="graficasListas">
      <mat-card class="cardNumbers">
        <mat-card-title>Creadas</mat-card-title>
        <div class="wrapper">
          <span class="box first-number"></span>
          <span class="box second-number"></span>
          <span class="box third-number"></span>
        </div>
      </mat-card>
      <mat-card class="cardNumbers">
        <mat-card-title>Participante</mat-card-title>
        <div class="wrapper">
          <span class="box first-number"></span>
          <span class="box second-number"></span>
          <span class="box third-number"></span>
        </div>
      </mat-card>
    </div>
    <hr />
  </mat-card-content>
  <div class="actions">
    <button mat-raised-button color="primary" matTooltip="Ver tus listas creadas" matTooltipPosition="right"
      class="actionsButton">Ver mis listas </button>
    <button mat-raised-button color="accent" matTooltip="Ver las listas en las que eres participante"
      matTooltipPosition="right" class="actionsButton">Ver listas que participo</button>
    <button mat-raised-button color="accent" matTooltip="Editar tu perfil" matTooltipPosition="right"
      class="actionsButton">Editar perfil</button>
    <button mat-raised-button color="warn" matTooltip="Cierra sesión" matTooltipPosition="right"
      class="actionsButton">Cerrar sesion</button>
  </div>
</mat-card>
