<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="headerImage"></div>
    <mat-card-title>{{nickname}}</mat-card-title>
    <mat-card-subtitle>{{email}}</mat-card-subtitle>
  </mat-card-header>
  <div class="actions">
    <button routerLink="/showLists" mat-raised-button color="primary" matTooltip="Ver tus listas creadas"
      matTooltipPosition="right" class="actionsButton hvr-pop">Ver listas creadas </button>
    <button routerLink="/editProfile" mat-raised-button color="accent" matTooltip="Editar tu perfil"
      matTooltipPosition="right" class="actionsButton hvr-pop">Editar perfil</button>
    <button (click)="onClose()" mat-raised-button color="warn" matTooltip="Cierra sesión" matTooltipPosition="right"
      class="actionsButton hvr-pop">Cerrar sesion</button>
  </div>
