.tabla {
  width: 100%;
}
table {
  width: 100%;
}
.filter {
  margin-left: 1%;
  margin-top: 1%;
  width: 10%;
}
.filter:hover {
  width: 30%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-edit {
  padding: 0 !important;
  border-color: #ffc107;
  background-color: #ffc107 !important;
  color: #212529;
  margin: 0 10px 0 10px;
}
.btn-edit:hover {
  border-color: #e0a800;
  background-color: #e0a800;
}

.btn-delete {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-delete:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-show {
  background-color: #0099ff;
  border-color: #0099ff;
  color: #fff;
}

.btn-show:hover {
  background-color: #0099ff;
  border-color: #0099ff;
}

td.mat-cell:last-of-type {
  padding: 0 !important;
}

.mat-raised-button {
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 5px;
  box-shadow: none !important;
}
.mat-raised-button:hover {
  -webkit-transition: 3;
  transition: 3;
}
.mat-column-elemento {
  word-wrap: break-word !important;
  white-space: unset !important;
  -webkit-box-flex: 0 !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.mat-row:nth-child(even) {
  background-color: #ffffff;
}

.mat-row:nth-child(odd) {
  background-color: #f3f3f3;
}
.hiddenVer {
  display: inline;
}

@media (max-width: 815px) {
  .hiddenVer {
    display: none;
  }
}

@media (max-width: 600px) {
  .hiddenDescripcion {
    display: none;
  }
}
@media (max-width: 475px) {
  .hiddenId {
    display: none;
  }
  .btn-show {
    min-width: 9px !important ;
    padding: 0px 5px !important;
  }
}
@media (max-width: 385px) {
  .btn-delete {
    min-width: 9px !important ;
    padding: 0px 5px !important;
  }
  .btn-edit {
    min-width: 9px !important ;
    padding: 0px 5px !important;
  }
}
