<button class="backButton hvr-hang" mat-raised-button routerLink="/admin" matTooltip="Volver a panel de control"
  matTooltipPosition="above">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
<div class="tabla">
  <div class="mat-elevation-z8">
    <!-- filtro -->
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar resultados">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- ID Creador Column -->
      <ng-container matColumnDef="idCreador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID usuario creador </th>
        <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
      </ng-container>

      <!-- titulo Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
      </ng-container>

      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Elementos Column -->
      <ng-container matColumnDef="elemento">
        <th mat-header-cell *matHeaderCellDef> Elementos </th>
        <td mat-cell *matCellDef="let element"> {{element.elementos}} </td>
      </ng-container>

      <!-- Participantes Column -->
      <ng-container matColumnDef="participantes">
        <th mat-header-cell *matHeaderCellDef> Participantes </th>
        <td mat-cell *matCellDef="let element"> {{element.participantes}} </td>
      </ng-container>

      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>


      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="onDelete(element.titulo,element.url)" class="btn-delete hvr-pop" type="button"
            matTooltip="Eliminar" matTooltipPosition="below" mat-raised-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="onEdit(element.id)" class="btn-edit hvr-pop" type="button" matTooltip="Editar"
            matTooltipPosition="below" mat-raised-button>
            <mat-icon>create</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
