// Global styles

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  position: relative;
}

.material-icons {
  vertical-align: middle;
  font-size: 22.5px !important;
}
