// Global styles

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  position: relative;
}

.material-icons {
  vertical-align: middle;
  padding-top: 1px;
  font-size: 22.5px !important;
}

.snackbar-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  button {
    color: black;
  }
}
