footer {
  font-size: 12px;
  margin-top: 40px;
  border-top: 1px solid rgb(171, 150, 175);
}

.column {
  float: left;
  width: 33.33%;
  padding: 0 10px 0 10px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-logo {
  height: 60px;
  vertical-align: middle;
}
