footer {
  font-size: 12px;
  border-top: 1px solid #b1a3a32a;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0 10px 0 10px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-logo {
  height: 60px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .column {
    width: 50%;
  }
  .column:last-of-type {
    display: none;
  }
}

@media (max-width: 600px) {
  .tu-app-listas-txt {
    display: none;
  }
}
